<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <script src="{% static 'tasks_app/tasks.js' %}"></script>
    </head>
    <body>
    <div class="container-fluid">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{task.title}}</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                    {% for task_user in task.users.all %}
                    <tr>
                        <td>{{task_user.first_name}} {{task_user.last_name}}</td>
                        <td>
                        {% if task.creator == user and task_user != user %}
                            <form class="remove_user" action="{%url 'tasks:removeuser' id=task.id%}" method="POST" task="{{task.id}}">
                                {% csrf_token %}
                                <input type="hidden" name="user" value="{{task_user.id}}"/>
                                <input type="hidden" name="modal" value=""/>
                                <button type="submit" class="empty">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </form>
                        {% endif %}
                        {% if user != task.creator and task_user == user %}
                            <form class="remove_user" action="{%url 'tasks:removeuser' id=task.id%}" method="POST" task="{{task.id}}">
                                {% csrf_token %}
                                <input type="hidden" name="user" value="{{task_user.id}}"/>
                                <input type="hidden" name="modal" value=""/>
                                <button type="submit" class="empty">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </form>
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </table>
                    {% if task.creator == user %}
                    {% if task.users.count < task.assignedlist.users.count %}
                    <form class="add_user" action="{%url 'tasks:adduser' id=task.id%}" method="POST" task="{{task.id}}">
                        {% csrf_token %}
                        <input type="hidden" name="modal" value="{{task.id}}">
                        <select name="user">
                            <option value="" selected disabled hidden>Choose here</option>
                            {% for one_user in task.assignedlist.users.all %}
                                {% if one_user not in task.users.all %}
                                <option value="{{one_user.id}}">{{one_user.first_name}} {{one_user.last_name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input type="submit" value="add user"/>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
