html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}
/*font scaling*/
/* xs < 768 */
@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}
/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}
/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}
/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}
.main .row {
	padding: 0 20px;
}

.table-responsive {
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
}
.circle {
	color: #95989A;
	display: inline-block;
	height: 100%;
	padding: 10px;
	background: #FFFFFF;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
}
.circle a, .circle a:hover {
	text-decoration: none;
	color: #95989A;
}
.circle form {
	display: inline-block;
}
.sidebar .icon {
	color: #95989A;
	font-size: 3em;
	display: inline-block;
	padding: 10px;
	background: #FFFFFF;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
}
.users {
	color: #95989A;
	width: 100px;
	height: 100px;
	line-height: 100px;
	background: #F7F7F7;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 70px;
	text-align: center;
	margin: 0 0 0 auto;
	font-size: 3em;
}
.empty {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
}
.links div {
	font-size: 0.85em;
	text-transform: uppercase;
}
.links a, .links a:hover {
	color: #95989A;
	text-decoration: none;
}
.links a.active, .links a.active:hover {
	color: #25B4E9;
}
.links ul li {
	padding: 10px;
	text-align: left;
	display: inline-block;
}
.logout {
	padding: 10px;
}
.main {
	padding: 0;
}
@media screen and (max-width: 767px) {
	.links ul li {
		display: block;
		width: 100%;
		text-align: center;
	}
	.logout {
		text-align: center !important;
	}
}
@media screen and (min-width: 768px) {
	.links ul li {
		display: inline-block;
	}
	.logout {
		text-align: right !important;
	}
	.sidebar {
		position: fixed;
		left: 0;
		top: 0;
		overflow: scroll;
		height: 100%;
	}
}
.table th, .table td {
    border: none !important;
	vertical-align: middle !important;
}
table {
    font-size: 1.2em;
}
table tr.overdue {
    color: #E92525;
    background-color: #F7F7F7;
}
table tr.due_soon {
    color: #25B4E9;
    background-color: #F7F7F7;
}
table tr.active {
    color: #434544;
    background-color: #F7F7F7;
}
table tr.completed {
	color: #95989A;
	background-color: #FFFFFF;
}
.check {
    background: #FFFFFF;
	border: 1px solid #95989A;
    height: 25px;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 70px;
}
.overdue .check {
	border: 1px solid #E92525 !important;
}
.due_soon .check {
	border: 1px solid #25B4E9 !important;
}
.active .check {
	border: 1px solid #434544 !important;
}
tr.active .unselectable {
	background-color: #FFFFFF !important;
	border: 1px solid #FFFFFF !important;
}
.sidebar {
    background-color: #F7F7F7;
    color: #434544;
    text-align: center;
	padding: 10px 0;
	top: 0;
	left: 0;
}
.sidebar ul {
    list-style-type: none;
	margin: 10px 0;
}
.sidebar li {
    background-color: #FFFFFF;
    padding: 20px 0;
}
.sidebar li.selected {
    border-top: 1px solid #25B4E9;
    border-bottom: 1px solid #25B4E9;
    border-right: 20px solid #25B4E9;
    padding-left: 20px;
}
.sidebar li a, .sidebar li a:hover {
	color: #95989A;
	text-decoration: none;
}
.sidebar li.selected a, .sidebar li.selected a:hover {
	color: #434544;
	text-decoration: none;
}
h1 {
    font-size: 4em;
    color: #25B4E9;
    font-weight: 300;
}
