<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>To Do List</title>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{% static 'lists_app/list.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'lists_app/list.css' %}" />
    </head>
    <body>
    <div class="container-fluid">
        <div class="row">
            <div class="links col-xs-12 col-sm-9 col-sm-offset-3">
                <div class="col-sm-9 empty">
                    <ul>
                        <li><a href="{%url 'users:index'%}" class="active">My Lists</a></li>
                        <li><a href="{%url 'users:company'%}">Company Lists</a></li>
                        <li>{% if user.is_admin %}<a href="{%url 'users:admin'%}">Admin Page</a>{% endif %}</li>
                    </ul>
                </div>
                <div class="col-sm-3 logout">
                    <a href="{%url 'users:logout'%}">Logout</a>
                </div>
            </div>
            <div class="sidebar col-xs-12 col-sm-3">
                <div class="icon">{{user.first_name|make_list|first}}{{user.last_name|make_list|first}}</div>
                <p>{{user.first_name}} {{user.last_name}}<br>
                {{user.email}}</p>
                {% if lists %}
                <ul>
                {% for list in lists %}
                    {% if list == this_list %}<li class="selected">
                    {% else %} <li>{%endif%}
                    <a href="{%url 'lists:add' id=list.id %}">{{ list.title }} {{list.tasks.count}}</a></li>
                {% endfor %}
                </ul>
                {% endif %}
                <h3>Create a New List</h3>
                {% if messages %}
                    {% for message in messages %}
                        {% if 'list' in message.tags %}
                            {{ message }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <form action="{%url 'lists:add' id=this_list.id %}" method="POST">
                    {% csrf_token %}
                    Title: <input type="text" name="title" placeholder="title"/><br>
                    Description:<br>
                    <textarea name="description" placeholder="description"></textarea><br>
                    <input type="submit" value="Add List"/>
                </form>
            </div>
            <div class="main col-xs-12 col-sm-9 col-sm-offset-3">
                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        <h1>{{ this_list.title }}</h1>
                        {% if this_list.description %}
                            <h4>{{ this_list.description }}</h4>
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-sm-4 text-right">
                        <div class="users">{{ this_list.users.count }}</div>
                    </div>
                </div>
                <div class="col-xs-12 table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-xs-1"></th>
                                <th class="col-xs-7"></th>
                                <th class="col-xs-2"></th>
                                <th class="col-xs-1"></th>
                                <th class="col-xs-1"></th>
                            </tr>
                        </thead>
                    {% for task in my_todo_tasks %}
                        {% if task.is_overdue %}
                        <tr class="overdue">
                        {% elif task.is_due_soon %}
                        <tr class="due_soon">
                        {% else %}
                        <tr class="active">
                        {% endif %}
                            <td>
                                <form action="{%url 'tasks:status' listid=this_list.id taskid=task.id%}" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" value="" class="check"/>
                                </form>
                            </td>
                            <td>{{ task.title }}</td>
                            <td>{{ task.due_date | date:'m-d-Y' }}</td>
                            <td class="text-center">
                                <div class="circle">
                                    <button class="empty modal_toggle" task="{{task.id}}" data-toggle="modal" data-target="#modal">{{task.users.count}}</button>
                                </div>
                            </td>
                            <td class="text-center">
                            <div class="circle">
                                {% if task.creator == user %}
                                    <a href="{%url 'tasks:delete' id=task.id%}"><span class="glyphicon glyphicon-trash"></span></a>
                                {% else %}
                                    <form action="{%url 'tasks:removeuser' id=task.id%}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="user" value="{{user.id}}"/>
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for task in other_todo_tasks %}
                        <tr class="active">
                            <td></td>
                            <td>{{ task.title }}</td>
                            <td>{{ task.due_date | date:'m-d-Y' }}</td>
                            <td class="text-center">
                                <div class="circle">
                                    <button class="empty modal_toggle" task="{{task.id}}" data-toggle="modal" data-target="#modal">{{task.users.count}}</button>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="circle">
                                    {% if user != task.creator %}
                                    <form action="{%url 'tasks:adduser' id=task.id%}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="user" value="{{user.id}}"/>
                                        <button class="empty" type="submit">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </form>
                                    {%endif%}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for task in completed_tasks %}
                        <tr class="completed">
                            <td>
                                {% if user in task.users.all %}
                                <form action="{%url 'tasks:status' taskid=task.id listid=this_list.id%}" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" value="" class="check"/>
                                </form>
                                {% endif %}
                            </td>
                            <td>{{ task.title }}</td>
                            <td>{{ task.due_date | date:'m-d-Y' }}</td>
                            <td class="text-center">
                                <div class="circle">
                                    <button class="empty modal_toggle" task="{{task.id}}" data-toggle="modal" data-target="#modal">{{task.users.count}}</button>
                                </div>
                            </td>
                            <td class="text-center">
                                {% if task.creator == user %}
                                <div class="circle">
                                    <a href="{%url 'tasks:delete' id=task.id%}"><span class="glyphicon glyphicon-trash"></span></a>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                    <h3>Create a New Task</h3>
                    {% if messages %}
                        {% for message in messages %}
                            {% if 'task' in message.tags %}
                                {{ message }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <form action="{%url 'tasks:add' id=this_list.id%}" method="POST">
                        {% csrf_token %}
                        Task: <input type="text" name="title" placeholder="task"/><br>
                        Due Date: <input type="date" name="due_date"/><br>
                        <input type="submit" value="Add Task"/>
                    </form>
                </div>
            </div>
        </div>
        <div id="modal" class="modal fade" role="dialog">
        </div>
    </div>
    </body>
</html>
