<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Company Lists</title>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{% static 'users_app/company.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'users_app/company.css' %}" />
    </head>
    <body>
    <div class="container-fluid">
        <div class="links col-xs-12 ">
            <div class="col-sm-9 empty">
                <ul>
                    <li><a href="{%url 'users:index'%}">My Lists</a></li>
                    <li><a href="{%url 'users:company'%}" class="active">Company Lists</a></li>
                    <li>{% if user.is_admin %}<a href="{%url 'users:admin'%}">Admin Page</a>{% endif %}</li>
                </ul>
            </div>
            <div class="col-sm-3 logout">
                <a href="{%url 'users:logout'%}">Logout</a>
            </div>
        </div>
        <h1>{{ user.company.name }}</h1>
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-xs-1"></th>
                        <th class="col-xs-9"></th>
                        <th class="col-xs-1"></th>
                        <th class="col-xs-1"></th>
                    </tr>
                </thead>
                <tbody>
                {% if all_lists %}
                    {% for list in all_lists %}
                        <tr>
                            <td class="text-center">
                                <span class="glyphicon glyphicon-th-list"></span> {{ list.num_tasks }}
                            </td>
                            <td><a href="{%url 'lists:add' id=list.id%}">{{ list.title }}</a></td>
                            <td class="text-center">
                                <div class="circle">
                                    <button class="empty modal_toggle" list="{{list.id}}" data-toggle="modal" data-target="#modal">{{list.users.count}}</button>
                                </div>
                            </td>
                            <td class="text-center">{% if list.creator == user %}
                                <a href="{%url 'lists:delete' id=list.id%}"><span class="glyphicon glyphicon-trash"></span></a>
                            {% endif %}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div id="modal" class="modal fade" role="dialog">
        </div>
    </div>
    </body>
</html>
