<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login & Registration</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'users_app/login.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'users_app/login.css' %}" />
</head>
<body>
    <div class="container">
        <h1>To Do List</h1>
        <div class="login module col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
            {% if messages %}
                {% for message in messages %}
                    {% if 'login' in message.tags %}
                    <div class="alert alert-danger alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <form action="{%url 'users:signin'%}" method="post">
                {% csrf_token %}
                <div class="form-group col-xs-12">
                    <input type="text" class="form-control input-lg" name="email" placeholder="Email">
                </div>
                <div class="form-group col-xs-12">
                    <input type="password" class="form-control input-lg" name="password" placeholder="Password">
                </div>
                <div class="form-group col-xs-12">
                    <input type="submit" value="Login" class="form-control input-lg">
                </div>
            </form>
            <a class="registerMod">New here? Please register.</a><br>
            <a class="companyMod">Register company.</a>
        </div>
        <div class="register module col-lg-4 col-lg-offset-4">
            {% if messages %}
                {% for message in messages %}
                    {% if 'register' in message.tags %}
                    <div class="alert alert-danger alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <form action="{%url 'users:loginpage'%}" method="post" class="form-inline">
                {% csrf_token %}
                <div class="form-group col-xs-12">
                    <input type="text" class="form-control input-lg" name="first_name" placeholder="First Name">
                </div>
                <div class="form-group col-xs-12">
                    <input type="text" class="form-control input-lg" name="last_name" placeholder="Last Name">
                </div>
                <div class="form-group col-xs-12">
                    <input type="text" class="form-control input-lg" name="email" placeholder="Email">
                </div>
                <div class="form-group col-xs-12">
                    <input type="password" class="form-control input-lg" name="password" placeholder="Password">
                </div>
                <div class="form-group col-xs-12">
                    <input type="password" class="form-control input-lg" name="pw_confirm" placeholder="Confirm Password">
                </div>
                <div class="form-group col-xs-12">
                    <input type="submit" value="Register" class="form-control input-lg">
                </div>
            </form>
            <a class="loginMod">Already a member? Login.</a><br>
            <a class="companyMod">Register company.</a>
        </div>
        <div class="company module col-lg-4 col-lg-offset-4">
            {% if messages %}
                {% for message in messages %}
                    {% if 'company' in message.tags %}
                    <div class="alert alert-danger alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <form action="{%url 'users:company'%}" method="post">
                {% csrf_token %}
                <div class="form-group col-xs-12">
                    <input type="text" class="form-control input-lg" name="name" placeholder="Company Name">
                </div>
                <div class="form-group col-xs-12">
                    <input type="text" class="form-control input-lg" name="email" placeholder="Your Email">
                </div>
                <div class="form-group col-xs-12">
                    <input type="submit" value="Register Company" class="form-control input-lg">
                </div>
            </form>
            <a class="loginMod">Already a member? Login.</a><br>
            <a class="registerMod">New here? Please register.</a>
        </div>
    </div>
</body>
</html>
